@import url("https://fonts.googleapis.com/css?family=Lato");

body {        
    background-image:url(img/backgroundvenom.jpg);         
    background-attachment: scroll;
    margin-left: 5px;
    margin-right: 5px;
    padding:0;
    background-repeat:no-repeat;    
    background-size: 100%;
    background-color: black;
    display: block;
    font-family: "Helvetica Neue", sans-serif;
    
        
        
}

#formlogin {
        position: absolute;
        top: 80px;
        width: 20%;
        border: 2px solid #fff
}
div {
        color: #fff;
	font-family: "Helvetica Neue", sans-serif
}


label {
    
    margin: 5px 0;
    display: block;
    text-transform: uppercase;
    color: white 
    
}

footer {
    height: 100px;
    background-color: #000000;
    position: absolute;
    padding:35px 0 10px 0;
    width:100%;
    bottom:0;
    text-align: center;
   
    font-size: 25px
        
}

#banner h1 {
    
    float:left;
    margin: 0
}

#banner nav {
    
    float: right;
    position: relative;
    top:50px
        
    
        
        
}

#banner ul {
    
    margin:0
}

#banner nav ul li {
    
    display: inline-block;
    width: 100px
        
        
}

#banner nav ul li a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Helvetica neue", sans-serif       
    
}

/*cadastro*/


