body {        
    background-image:url(img/backgroundhd.jpg);         
    background-attachment: scroll;
    margin:0;
    padding:0;
    background-repeat:no-repeat;
    
    background-size: 100%;
    background-color: black;
    display: block
        
}

div {
        color: #fff;
	font-family: "Helvetica Neue", sans-serif
}
