body {
    background-image:url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);         
    background-attachment: scroll;
    margin:0;
    padding:0;
    background-repeat:no-repeat;
    
    background-size: 100%;
    background-color: black;
    display: block
        
}

div {
        color: #fff;
	font-family: "Helvetica Neue", sans-serif
}