body {
    background-image:url(https://www.gamedevmarket.net/file/24fcd5705ea3fcbfcd1621b66a455803b9889aca.png);         
    background-attachment: scroll;
    margin:0;
    padding:0;
    background-repeat:no-repeat;
    
    background-size: 100%;
    background-color: black;
    display: block
        
}

div {
        color: #fff;
	font-family: "Helvetica Neue", sans-serif
}